#page-ctn {
	max-width: 100%;
}
.markdown-body {
	max-width: 100%;
	background: #fff;
	padding: 34px;
}
.octicon.octicon-link {
  display:none;
}
p {
	font-size: 18px;
	line-height: 1.4em;
	font-family: sans-serif;
}
h2 {
	font-size: 20px;
}

li {
	font-size: 18px;
	line-height: 1.4em;
	font-family: sans-serif;
}

strong {
	color:#aaaaff;
}

em {
	color:#ff9aaf;
	font-weight:bold;
	text-decoration:none;
	font-style: normal;
}

img {
	display: block;
	float:left;
	margin: 20px;
	width: 30%;
}
